<section id="main">
    <div class="inner">
        
        <section>
            
            <form method="post" action="#">
                   
                      
                <div class="row uniform 100%">
                    <div class="6u 12u$(xsmall)">
                        <div class="select-wrapper">
                            <select name="demo-category" id="demo-category" (change)="selectOption($event.target.value)" [(ngModel)]="selectedyear">
                                <option>{{selectedyear}}</option>
                                <option value="2019">AU-2019</option>
                                <option value="2018">AU-2018</option>
                               
                            </select>
                        </div>
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                            <div class="select-wrapper">
                                    <select name="demo-category" id="demo-category" (change)="selectOption($event.target.value)" [(ngModel)]="selectedbatch">
                                        <option>{{selectedbatch}}</option>
                                        <option *ngFor="let t of batchlist"  value={{t}} >{{t}}</option>
                                       
                                    </select>
                                </div>
                       </div>

                       <div class="6u$ 12u$(xsmall)">
                            <div class="select-wrapper">
                                    <select name="demo-category" id="demo-category"(change)="selectOption($event.target.value)" [(ngModel)]="selectedtest">
                                        <option>{{selectedtest}}</option>
                                        <option *ngFor="let t of testlist">{{t}}</option>
                                       
                                    </select>
                                </div>
                       </div>
                    
                    
                    
                </div> 
            </form>
        </section>
        <button (click)="myfunc()">GO</button>
            <table *ngIf="report">
                <thead>
                    <tr>
                        
                        <th>Student Name</th>
                        <th>Score</th>
                        <th>Correct</th>
                        <th>Incorrect</th>
                        <th>Rank</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of report">
                    
                        <td>{{product.studentname}}</td>
                        <td>{{product.score}}</td>
                        <td>{{product.correct}}</td>
                        <td>{{product.incorrect}}</td>
                        <td>{{product.rank}}</td>
                    </tr>
                    
                
                </tbody>
                
            </table>
        
   
